<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--log4net section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="FacebookConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="AmazonConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="SystemConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="PushNotificationConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="PaymentConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="SecurityConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="EmailConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="SmsConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--#region nini config-->
  <FacebookConfig>
    <add key="FbAppId" value="132344853587370" />
    <add key="FbAppSecret" value="419c2dd29c5e4134064850ec38aadfce" />
    <add key="ProcessIncompleteFacebookDataJobInterval" value="5" />
  </FacebookConfig>
  <AmazonConfig>
    <add key="S3AccessKey" value="AKIAJQYWYGQSTZQJLZEA" />
    <add key="S3SecretKey" value="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" />
    <add key="S3PhotoBucketName" value="noonswoon.photos" />
    <add key="S3BackupBucketName" value="noonswoon.dbbackups" />
    <add key="S3CampaignsBucketName" value="noonswoon.campaigns" />
  </AmazonConfig>
  <SystemConfig>
    <add key="RabbitMqUrl" value="amqp://qeprebae:blDhbUHZV3-ONXbWmnI5HfNW8BtXkz_d@lemur.cloudamqp.com/qeprebae" />
    <add key="RootUrl" value="http://noonswoon.com" />
    <add key="DomainName" value="noonswoon.com" />
    <add key="ServerVersion" value="production" />
    <add key="MobileLogToken" value="cf5c85de-1401-48f5-a2ff-412b2ccc777f" />
    <add key="PhotoRootUrl" value="https://d3pvxm9w7o3oki.cloudfront.net" />
    <add key="CurrentTimeZoneInfo" value="SE Asia Standard Time" />
    <add key="DocumentRootUrl" value="https://s3.amazonaws.com/noonswoon.documents/" />
    <add key="UserCookieKey" value="nsCookie" />
  </SystemConfig>
  <PushNotificationConfig>
    <add key="ParseApplicationId" value="TXhV4mVljSva0R3ZhxchQpsdavdVJGfYk8gzm6Oa" />
    <add key="ParseRestApiKey" value="OnMWigyd3f9VX29MmTFh5NaWEdgtTyS56EGW88U3" />
    <add key="UrbanAppKey" value="y3en0sTuREKQlFvB6Lop0A" />
    <add key="UrbanAppMasterSecret" value="atDg3wYNRsy10-5L_KTDzg" />
  </PushNotificationConfig>
  <PaymentConfig>
    <add key="IapProductionUrl" value="https://buy.itunes.apple.com/verifyReceipt" />
    <add key="IapSandBoxUrl" value="https://sandbox.itunes.apple.com/verifyReceipt" />
    <add key="InAppBillingClientId" value="962529281090.apps.googleusercontent.com" />
    <add key="InAppBillingClientSecret" value="fUG0yV1mzxA-8S4uvUiLekqr" />
    <add key="InAppBillingGoogleOauthUrl" value="https://accounts.google.com/o/oauth2/token" />
    <add key="InAppBillingRefreshToken" value="1/ELhwoW9RyWcBek-l0LqvSSTegGvWG893F-WF9MtRdOo" />
    <add key="InAppBillingVerifyPurchasedProductUrl" value="https://www.googleapis.com/androidpublisher/v1.1/applications/{0}/inapp/{1}/purchases/{2}" />
    <add key="InAppBillingVerifySubscriptionUrl" value="https://www.googleapis.com/androidpublisher/v1.1/applications/{0}/subscriptions/{1}/purchases/{2}" />
    <add key="IapSharedScretKey" value="240fcd041cf141b78c4d95eb6fa95df2" />
  </PaymentConfig>
  <SecurityConfig>
    <add key="AdminPanelUsername" value="noonswoon" />
    <add key="AdminPanelPassword" value="ka0padcai" />
    <add key="HttpsApiUsername" value="n00nsw00nCLient" />
    <add key="HttpsApiPassword" value="H@ckerFr33" />
    <add key="NsHashSecretKey" value="ns+^frobjw8cr7a83n9jq^oykuhlssn" />
  </SecurityConfig>
  <EmailConfig>
    <add key="SendgridUsername" value="noonswoon" />
    <add key="SendgridPassword" value="dressntie1" />
  </EmailConfig>
  <SmsConfig>
    <add key="BulkSmsUsername" value="0897647799" />
    <add key="BulkSmsPassword" value="892773" />
  </SmsConfig>
  <!--#endregion-->
  <appSettings>


      <!--production-->
    <add key="connectionString" value="Server=nssqlweb.cloudapp.net;Database=NoonswoonProduction;User ID=nswdbcontrollerpdt;Password=VYFPpwmq3j8nGu4b9PHzuWnqpaAVHpgcS7YuNNsaYDRg6m84d2F9SDak8ckMjGQ78cpukZTz8qwcrt5rQQfF4cnHTMt83jPtT28mbQPZNJys8uBRzeQHrFqNZysDGajP;" />
     

      <!--development-->
    <!--<add key="connectionString" value="Server=nssqlweb.cloudapp.net;Database=NoonswoonDevelopment;User ID=noondevsa;Password=MWKuWop64Wgre8HvrabvsyDqx6g5yJdNYy5xVqmjqWdf8EVDeyWTmQSnru6YhsFt;Min Pool Size=20;Max Pool Size=200;" />-->
     
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="log4net.Internal.Debug" value="false" />
    <!--for urban airship push notification-->
    <!-- for AppHarbor LogEntries-->
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="logentriesToken" value="e9a362bc-3c34-4fb1-bfa7-b78ca844744b" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %level %logger - %message %newline" />
      </layout>
    </appender>
    <!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
            <threshold value="DEBUG"/>
            <file value="D:\projects\noonswoon\Noonswoon.Configuration\BuildFiles/../../Logs/log-file-UniversalBackgroundWorker.txt" />
            <appendToFile value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern 
                    value="%date{dd-MMM-yyyy HH:mm:ss} %level - %logger %newline %message %newline >>> %l %newline %newline" />
            </layout>
        </appender>-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../../Logs/Noonswoon.Terminal.log" />
      <!--always set to false for date pattern file name-->
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-yyyy-MM-dd'.txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %level [%F] - %message %newline" />
      </layout>
    </appender>
    <!-- global setting for all log-->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="NHibernate.SQL">
      <level value="ERROR" />
    </logger>
    <logger name="NHibernate">
      <level value="ERROR" />
    </logger>
  </log4net>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\log4net-config-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>